<div class="yo">
  <%= link_to 'Instagram', "/auth/instagram", class: "btn btn-warning" %>
<br><br><hr>
  <% @instagram["data"].each do |instagram| %>
  <img src="<%= instagram['images']['thumbnail']['url'] %>" alt="" />
    <% end %>

  



</div>
